<ion-view view-title="인앱 결제" style="background-color:#E8E8E8;" cache-view="false">

    <ion-content has-header="true" padding="true" overflow-scroll="true">

	  <div class="card button button-block button-light" ng-click="" style="line-height: 1.82857;">
	    <span style="font-size: 100%; color: black; font-weight: bolder;">
	      오늘의 단어 
	    </span>
	    <hr style="margin-bottom:0px; margin-top:0px;">
	    <div style="min-height:3.5em;">
	      <div class="item item-body" style="padding: 5px; font-size: 90%;border: 0px; line-height: 0.52857;">
		<p>오늘 날짜 단어뿐만 아니라 모든 날짜 자유롭게 사용 가능</p>
		<p>30일 이용권</p>
		<button class="button button-block button-calm" ng-click="buy_item(0)">
		  <b>1,900원 결제하기</b>
		</button>
	      </div>
	    </div>
	  </div>

	  <div class="card button button-block button-light" ng-click="" style="line-height: 1.82857;">
	    <span style="font-size: 100%; color: black; font-weight: bolder;">
	      오늘의 퀴즈
	    </span>
	    <hr style="margin-bottom:0px; margin-top:0px;">
	    <div style="min-height:3.5em;">
	      <div class="item item-body" style="padding: 5px; font-size: 90%;border: 0px; line-height: 0.52857;">
		<p>오늘의 퀴즈를 30일간 자유롭게 풀기</p>
		<p>30일 이용권</p>
		<button class="button button-block button-positive" ng-click="buy_item(1)">
		  <b>2,900원 결제하기</b>
		</button>
	      </div>
	    </div>
	  </div>

	  <div class="card button button-block button-light" ng-click="" style="line-height: 1.82857;">
	    <span style="font-size: 100%; color: black; font-weight: bolder;">
	      영어데이 콤보
	    </span>
	    <hr style="margin-bottom:0px; margin-top:0px;">
	    <div style="min-height:3.5em;">
	      <div class="item item-body" style="padding: 5px; font-size: 90%;border: 0px; line-height: 0.52857;">
		<p>오늘의 단어와 오늘의 퀴즈를 자유롭게 사용 가능</p>
		<p>30일 이용권</p>
		<button class="button button-block button-calm" ng-click="buy_item(2)">
		  <b>3,900원 결제하기</b>
		</button>
	      </div>
	    </div>
	  </div>

	  <div class="card button button-block button-light" ng-click="" style="line-height: 1.82857;">
	    <span style="font-size: 100%; color: black; font-weight: bolder;">
	      모든 컨텐츠 1년 이용권
	    </span>
	    <hr style="margin-bottom:0px; margin-top:0px;">
	    <div style="min-height:3.5em;">
	      <div class="item item-body" style="padding: 5px; font-size: 90%;border: 0px; line-height: 0.52857;">
		<p>영어데이 모든 컨텐츠 1년간 자유롭게 이용</p>
		<p>추후 업데이트되는 컨텐츠도 포함입니다</p>
		<p>1년 이용권</p>
		<button class="button button-block button-positive" ng-click="buy_item(3)">
		  <b>39,000원 결제하기</b>
		</button>
	      </div>
	    </div>
	  </div>



	  <div ng-if="where=='menu'">
	    <button class="button button-block button-stable" ng-click="home()">
	      돌아가기
	    </button>
	  </div>

	  <div ng-if="where!='menu'">
	    <button class="button button-block button-stable" ng-click="close()">
	      돌아가기
	    </button>
	  </div>

	  <br>
	  <br>
	  <br>


    </ion-content>
  
</ion-view>
