<ion-view view-title="FAQ" style="background-color:#E8E8E8;" cache-view="false">

  <ion-content has-header="true" padding="true" overflow-scroll="true">

    <div class="card" style="margin-top:0px">
      <div class="item item-divider" style="white-space: initial;font-size:95%;">
	1. 동영상 강좌 전체 화면은 어떻게 하는건가요?
      </div>
      <div class="item item-text-wrap">
	<p style="font-size:80%;"><b>Android</b></p>
	<p> 핸드폰에서 자동 회전 모드를 켜주시고 동영상 플레이어 전체 화면 클릭 후 가로로 돌리시면 됩니다.</p>
	<hr>
	<p style="font-size:80%;"><b>ios - iPhone, iPod</b></p>
	<p> 저작권 문제로 인해서 iPhone 및 iPod은 전체 화면을 허용하지 않습니다.</p>
      </div>
    </div>

    <div class="card">
      <div class="item item-divider" style="white-space: initial; font-size: 95%;">
	2. 유료 사용자인데 다른 기기에서 유료 콘텐츠를 어떻게 이용하죠?
      </div>
      <div class="item item-text-wrap">

	<p style="font-size:80%;"><b>첫번째,</b></p>
	<p> 메뉴 클릭 -> Login with Facebook클릭 후 로그인</p>
	<hr>

	<p style="font-size:80%;"><b>두번째,</b></p>
	<p> 메뉴 클릭 -> 내 계정 -> Facebook계정으로 이전하기 클릭</p>
	<hr>

	<p style="font-size:80%;"><b>세번째,</b></p>
	<p> 다른 기기 메뉴 클릭 -> Login with Facebook클릭 후 로그인</p>
	<hr>
	
	<p style="font-size:80%;"><b>네번째,</b></p>
	<p> 유료 컨텐츠로 영어 실력 쌓기!</p>

      </div>
    </div>

    <div class="card">
      <div class="item item-divider" style="white-space: initial; font-size: 95%;">
	3. 기술적인 문의는 어디로 해야 하는거죠?
      </div>
      <div class="item item-text-wrap">

	<p style="font-size:80%;"> 모든 기술적인 문의는 pp2@05day.com으로 이메일 주세요.</p>
      </div>
    </div>


    <button class="button button-block button-stable" ng-click="last_place()">
      돌아가기
    </button>
    <br>
    <br>
    <br>
  </ion-content>

</ion-view>
