<ion-view view-title="내 계정" style="background-color:#E8E8E8;" cache-view="false">

  <ion-content has-header="true" padding="true" overflow-scroll="true">

    <div ng-if="user_info.fb.id != -1">
      <div ng-if="is_transfer == true">
	<div ng-if="user_info.device.quiz_on || user_info.device.word_on">
	  <div class="card button button-block button-light" ng-click="" style="line-height: 1.82857;">
	    <span style="font-size: 100%; color: black; font-weight: bolder;">
	      Facebook계정으로 이전하기
	    </span>
	    <hr style="margin-bottom:0px; margin-top:0px;">
	    <div style="min-height:3.5em;">
	      <div class="item item-body" style="padding: 5px; font-size: 90%;border: 0px; line-height: 1.42857;">
		<p style="font-size:90%;" align="left"> 디바이스 계정 정보를 페이스북 계정으로 이전하시면 페이스북 로그인을 통해서 본인의 다른 디바이스에서도 유료컨텐츠를 이용하실수 있습니다. </p>
		<p style="font-size:90%;"> 날짜가 많이 남은부분만 페이스북 계정으로 이전 됩니다.</p>
		<button class="button button-block button-positive" ng-click="transfer_account()">
		  <b>이전 하기</b>
		</button>
		<!--
		<button class="button button-block button-balanced" ng-click="home()">
		  <b>다음에 하기</b>
		</button>
		-->
	      </div>
	    </div>
	  </div>
	</div>
      </div>
    </div>


  
      <div class="card" style="margin-top:0px">
	<div class="item item-divider">
	  유료 컨텐츠 남은기간
	</div>
	<div class="item item-text-wrap">
	  <p><b>디바이스 계정</b></p>
	  <div ng-if="is_device_word_expired!=true">
	    <p>오늘의 단어: {{user_info.device.word_date | date }}</p>
	  </div>
	  <div ng-if="is_device_word_expired==true">
	    <p>오늘의 단어: 기간 만료</p>
	  </div>
	  <div ng-if="is_device_word_expired!=true">
	    <p>오늘의 퀴즈: {{user_info.device.quiz_date | date }}</p>
	  </div>
	  <div ng-if="is_device_word_expired==true">
	    <p>오늘의 퀴즈: 기간 만료</p>
	  </div>
	  <div ng-if="user_info.fb.id != -1">
	    <hr>
	    <p><b>Facebook 계정</b></p>
	    <div ng-if="is_fb_word_expired!=true">
	      <p>오늘의 단어: {{user_info.fb.word_date | date }}</p>
	    </div>
	    <div ng-if="is_fb_word_expired==true">
	      <p>오늘의 단어: 기간 만료</p>
	    </div>
	    <div ng-if="is_fb_quiz_expired!=true">
	      <p>오늘의 퀴즈: {{user_info.fb.quiz_date | date }}</p>
	    </div>
	    <div ng-if="is_fb_quiz_expired==true">
	      <p>오늘의 퀴즈: 기간 만료</p>
	    </div>
	  </div>
	</div>
      </div>

      <div class="card">
	<div class="item item-divider">
	  디바이스 정보
	</div>
	<div class="item item-text-wrap">
	  <p>디바이스 고유번호: {{user_info.device.uuid}}</p>
	  <p>영어데이 버젼: {{user_info.device.app_version}}</p>
	</div>
      </div>
    
      <div class="card">
	<div class="item item-divider">
	  Facebook 계정 정보
	</div>
	<div ng-if="user_info.fb.id != -1">
	  <div class="item item-text-wrap">
	    <p align="center">Facebook 계정으로 로그인중</p>
	    <hr>
	    <p style="font-size:90%;">이름: {{user_info.fb.name}}</p>
	    <div ng-if="user_info.fb.email != null">
	    <p style="font-size:90%;">이메일: {{user_info.fb.email}}</p>
	    </div>
	    <!-- <p>고유 아이디: {{user_info.fb.id}}</p> -->
	  </div>
	</div>
	<div ng-if="user_info.fb.id == -1">
	  <div class="item item-text-wrap">
	    <p>Facebook 계정으로 로그인중이 아닙니다</p>
	  </div>
	</div>

      </div>


    <button class="button button-block button-stable" ng-click="home()">
      돌아가기
    </button>

    <br>
    <br>
    <br>

  </ion-content>
  
</ion-view>
